{% extends 'groups/base.html' %}

{% block pregroup %}
<div class="container mr-3 mt-4">
  <h1>{{ groups.name }}</h1>
  <h2>Members: {{ groups.members.count }}</h2>
  <h5>created by: {{ groups.created_by }} date created: {{ groups.created_at }}</h5>
</div>
<div class="container">
  {% if user in groups.members.all %}
      <a href="{% url 'groups:leave' slug=groups.slug %}" class="btn btn-lg btn-fill btn-warning">
        <span class="glyphicon glyphicon-remove-circle">Leave</span>
      </a>
  {% else %}
    <a href="{% url 'groups:join' slug=groups.slug %}" class="btn btn-lg btn-fill btn-success">
      <span class="glyphicon glyphicon-ok-circle">Join</span>
    </a>
  {% endif %}
</div>
{% endblock pregroup %}
{% block group_content %}
<div class="col-md-8">
  {% if groups.posts.count == 0 %}
  <h2>No posts in this group yet!</h2>
  {% else %}
   <div class="mt-3 mb-3">
     {% for posts in groups.posts.all %}
      {% include 'posts/_post.html' %}
     {% endfor %}
   </div>
  {% endif %}

</div>
{% endblock group_content %}
